# macOS
.DS_Store

# IntelliJ
.idea
*/.idea

# Node.js
node_modules
.next
next-env.d.ts
dist

# Vercel
.vercel

# env
.env

# vscode
.dccache
*/.dccache
**/*/.dccache

# eslint
.eslintcache
*/.eslintcache
**/*/.eslintcache

#database
data

**/*.env
app/.env.production
