/* Header.css */
header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
}

header nav ul li {
    margin: 0 1rem 0 0;
}

header nav ul li a {
    color: inherit;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}
