/* Header.css */
header {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 1rem;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
}

header nav ul li {
    margin: 0 1rem 0 0;
}

header nav ul li a {
    color: var(--text-color-light);
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}
