/* General Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    --text-color: #202020;
    --box-color: #ffffff;
    --box-hover-color: #dddddd;
    --border-radius: 10px;

    /* Shadow */
    --box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2), -6px -6px 12px 0 rgba(255, 255, 255, 0.5);

    /* Font */
    --font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-weight: 500;
    --letter-spacing: 0.02em;
}

body {
    /* Font + Text */
    font-family: var(--font-family), serif;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-size: calc(10pt + 0.3vw);
    text-align: justify;

    /* Margin + Padding */
    margin: 0;
    padding: 0;
    width: 100%;
}
